.App {
  text-align: center;
  display:flex;
  flex-direction:column;
}
.header-nav {
      background-image: linear-gradient(to top, #222222, #323232, #434343, #545454, #666666);
}

.App-header {
  padding: 3vh;
  color: #5ccfff
}


.App-title {
  font-size: 1.5em;
  margin-top: 15px;
}

.App-subtitle {
  font-size: 1em;
}

nav {
  width: 100vw;
}
.flex-container {
  display:flex;
  flex-direction: row;
  margin-left: 15vw;
  margin-right: 15vw;
}
.category-link{
  color:#54ecc4;
  flex-grow:1;
}
.category-link:hover{
   color: #5ccfff;
}
.category-link.active{
  color:#0099c6
}
.category-link h4 {
  padding:15px;
  margin:0px;
}
@media (max-width:590px) {
  .flex-container{
    margin:0px;
  }
}
@media (max-width:415px) {
  .category-link h4{
    padding: 5px;
    font-size: 0.8em;
  }
}
@media (max-width:290px) {
  .category-link h4{
    padding: 2px;
    font-size: 0.6em;
  }
}