.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}
.header-nav {
      background-image: linear-gradient(to top, #222222, #323232, #434343, #545454, #666666);
}

h2 a{
   color: #5ccfff;
  
}

.App-header {
  padding: 3vh;
  color: #5ccfff
}


.App-title {
  font-size: 1.5em;
  margin-top: 15px;
}

.App-subtitle {
  font-size: 1em;
}


.flex-container {
  display:flex;
  flex-direction: row;
  margin-left: 15vw;
  margin-right: 15vw;
}
.category-link{
  color:#54ecc4;
  flex-grow:1;
}
.category-link:hover{
   color: #5ccfff;
}
.category-link.active{
  color:#0099c6
}
.category-link h4 {
  padding:15px;
  margin:0px;
}
.content-container{
  background-color: #222;
  flex-grow:1;
  color:#54ecc4;
}
.content-container a {
  color:#54ecc4;
}
.content-container a:hover {
   color: #5ccfff;
  
}
.content-container a:active {
  color:#0099c6;
  
}
.project-display{
  margin-left:15vw;
  margin-right:15vw;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  justify-content:center;
}
.employment-display{
  text-align: left;
}
.content-item{
  margin: 30px;
}
.employment-display .content-item {
  margin: 5vh 15vw 5vh 15vw;
}

.employment-display .content-item p{
  margin: 2px 0px;
}
.project-image{
   height: 192px;
   width: 320px;
}

.education-display{
  text-align: left;
  margin-top:3vh;
}
.education-display .content-item {
  margin: 2vh 15vw 2vh 15vw;
}
.education-display .content-item p,h4,h3{
  margin: 2px 0px;
}
.tag-display{
  margin: 0 15vw;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
}
.tag {
  margin-left:10px;
  margin-right:10px;
}

.tag:hover{
  
   color: #5ccfff;
}
.tag-active{
  color:#0099c6;
}
.tag-inactive{
  color: #54ecc4;
}

@media (max-width:590px) {
  .flex-container{
    margin:0px;
  }
}
@media (max-width:450px) {
  .category-link h4{
    padding: 5px;
    font-size: 0.8em;
  }
  .tag{
    font-size: 0.8em;
  }
}
@media (max-width:320px) {
  .category-link h4{
    padding: 2px;
    font-size: 0.6em;
  }
  
  .tag{
    font-size: 0.6em;
  }
  
.project-image{
   height: 115px;
   width: 192px;
}
}