.App {
  text-align: center;
  display:flex;
  flex-direction:column;
}

.App-header {
  background-color: #222;
  padding: 50px;
  color: white;
}


.App-title {
  font-size: 1.5em;
  margin-top: 15px;
}

.App-subtitle {
  font-size: 1em;
}

nav {
  background-color: #222;
  width: 100vw;
}
.flex-container {
  display:flex;
  flex-direction: row;
  margin-left: 15vw;
  margin-right: 15vw;
}
.category-link{
  color:white;
  background-color:black;
  flex-grow:1;
}
.category-link:hover{
  background-color:blue;
}
.category-link.active{
  background-color:blue;
}
.category-link h4 {
  padding:15px;
  margin:0px;
}